* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    height: 256px;
    width: 256px;
}

.grid-item {
    border: 1px solid black;
}