* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: 'Pally', sans-serif;
    font-weight: 400;
}

:root {
    --grid-border: 3px solid #fafafa;
    /* --border: 3px solid #3f3f46; */
    --sec-border: 3px solid #09090b;
    --body-bg: #4d7c0f;
    --sec-bg-color: #3f3f46;
    --input-bg-color: #71717a;
    --board-bg-color: #987554;
    --txt-color: #fafafa;
    --sec-txt-color: #3f3f46;
    --btn-bg-color: #fafafa;
    --shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    --shadow-inset: inset 0px 2px 10px 2px rgba(0, 0, 0, 0.5);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    background: var(--body-bg);
    color: var(--txt-color);
}

/* Header */

.header {
    margin-top: 48px;
}

.header h1 {
    font-size: 4rem;
    text-shadow: var(--shadow);
    font-weight: 900;
}

/* Board */
.board-container {
    padding: 12px;
    background-color: var(--board-bg-color);
    border: var(--sec-border);
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.board {
    min-height: 548px;
    min-width: 720px;
    padding: 48px;
    border: var(--sec-border);
    border-radius: 12px;
    background-color: var(--sec-bg-color);
    box-shadow: var(--shadow-inset);
}

/* Grid */

.grid-container {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 96px);
}

.grid-item:hover {
    cursor: pointer;
}

.grid :nth-child(3n + 2) {
    border-left: var(--grid-border);
    border-right: var(--grid-border);
}

.grid :nth-child(n+4):nth-child(-n+6) {
    border-top: var(--grid-border);
    border-bottom: var(--grid-border);
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;
}

.grid-item.disabled:hover {
    cursor: auto;
}

/* Form */
.form-container.active, .scoreboard.active, .start-btn.active, .play-again-btn.active {
    display: flex;
}

.form-container {
    display: none; /* Hidden at default */
    margin-top: 48px;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.form-container form ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.form-container li {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.form-container label {
    font-size: 1.2rem;
}

.form-container input {
    outline: none;
    border: none;
    border-bottom: var(--grid-border);
    background-color: var(--sec-bg-color);
    color: var(--txt-color);
}

/* Round Info */
.scoreboard {
    margin-top: 48px;
    display: none; /* Hidden at default */
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard h3 {
    font-size: 1.2rem;
}

.scoreboard h2 {
    font-size: 2rem;
}

.scoreboard .score {
    font-size: 2rem;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Button */
.btn-container {
    display: flex;
    height: 96px;
    align-items: center;
    justify-content: center;
}

.btn-container button {
    display: none;
    padding: 8px 12px;
    border: none;
    background-color: var(--btn-bg-color);
    color: var(--sec-txt-color);
    border-radius: 8px;
    border: var(--sec-border);
    box-shadow: var(--shadow);
}

.btn-container button:hover {
    cursor: pointer;
}

.btn-container button:active {
    box-shadow: var(--shadow-inset);
}